body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:35px;
  width:279px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:72px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:730px;
  height:524px;
  background-image:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:730px;
  height:454px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:730px;
  height:524px;
  visibility:hidden;
  background-image:none;
}
#u18_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:730px;
  height:454px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:730px;
  height:524px;
  visibility:hidden;
  background-image:none;
}
#u18_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:730px;
  height:454px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:730px;
  height:524px;
  visibility:hidden;
  background-image:none;
}
#u18_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:730px;
  height:454px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:730px;
  height:524px;
  visibility:hidden;
  background-image:none;
}
#u18_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:730px;
  height:454px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:310px;
  top:618px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  background-image:none;
}
#u24_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u24_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u24_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u24_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u24_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u24_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u24_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:27px;
  height:27px;
  color:#FFFFFF;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:627px;
  width:43px;
  height:18px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
